!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="Find stuff near you on your iPhone")
    %meta(name="author" content="awesomebydesign.com")
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    %link(rel="stylesheet" href="/css/rightnearme.css")
    %script(src="http://use.typekit.com/ljl7gkk.js")
    <script>try{Typekit.load();}catch(e){}</script>
    %script(src="/js/modernizr-1.6.min.js")
    %title Right Near Me
  %body
    %section#panel
      %header#current-store
      %nav#main
        %ul
          %li#currently
          %li
            %a#go-products(href="#!/") 
              Products
          %li
            %a#go-profile(href="#!/profile") Profile
          %li
            %a#go-stats(href="#!/statistics") Statistics
      .clearfix
      #products.section.active
        %ul#products-menu
          %li
            %a#add-new + Add new
          %li
            %a#delete - Delete
          %li
            %input#search-products(type="text" placeholder="Search")
        %form#new-product
          %input(type="text" id="product-name" placeholder="New product name")
          %textarea(id="product-description" placeholder="Description")
          %input(type="text" id="product-price" placeholder="Price (if any)")
          %button(type="submit") Add new
        %table#products-list(cellspacing="0" cellpadding="0")
      #profile.section
        %form#edit-profile(action="/profile.json" method="post" enctype="multipart/form-data")
          %label(for="store-email") Email
          %input#store-email(type="email" value="#{@store.email}")
          %label(for="store-name") Name
          %input#store-name(type="text" value="#{@store.name}")
          %label(for="store-description") Description
          %textarea#store-description= @store.description
          %label(for="store-location") Location
          %input#store-location(type="text" value="#{@store.location}")
          %button(type="submit") Save Changes
          #upload-logo
            %div#image-emu
            %button Upload Image
            %input#store-logo(type="file")
          .clearfix
      #statistics.section
        %p stats
    %script(src="/js/jquery-1.4.4.min.js")
    %script(src="/js/underscore-min.js")    
    %script(src="/js/backbone.js")
    %script(src="/js/mystore.js")
    %script(type="text/template" id="product-template")
      <td class="checkbox"><input type="checkbox" /></td>
      <td class="name">
      <a><%= name %></a>
      <p><%= description %></p>
      <form action="/products.json/<%= id %>" method="post">
      <div>
      <input type="text" value="<%= name %>" class="name" />
      </div>
      <div>
      <textarea class="description"><%= description %></textarea>
      </div>
      <div>
      <input type="text" value="<%= price %>" class="price" />
      </div>
      <button type="submit">Save</button>
      </form>
      </td><td class="price"><%= price %></td>
    %script(type="text/template" id="profile-template" data-current-store="#{@store.to_json(:methods => [:id])}")
      <h1><%= name %></h1>
      <p><%= location %></p>
